
.form-search {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.search-box {
  display: flex;
  position: relative;
  justify-content: center;
  align-self: center;
  width: 80%;

  &__submit {
    flex-shrink: 0;
    font-family: inherit;
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 10px;
    border: none;
    text-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px;
    background: linear-gradient(141deg,#009e6c,#00d1b2 71%,#00e7eb);
      cursor: pointer;
      border-radius: 4px;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 3px;
    flex-direction: column;
    outline: none;
    align-items: stretch;
    position: relative;
  }

  &__text-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    position: relative;
    font-size: 14px;
    height: 56px;
    padding: 8px;

    &:focus {
      box-shadow: rgba(59, 69, 79, 0.3) 0px 2px 4px;
      border: 1px solid $linkColor;
    }
  }
}

.results-container {
  padding: 0;
  list-style: none;
}

.result {
  &__header {
    display: flex;
    justify-content: space-between;
    // align-self: center;
    padding: 0 24px;
  }

  &__body {
    line-height: 1.5;
    margin-top: 0;
    display: flex;
    align-items: center;
  }

  &__title {
    text-align: start;
  }

  &__col-1 {
    width: 33%;
  }

  &__title-link {
   
  }
}