.search-box {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: stretch;

  &__submit {
    flex-shrink: 0;
    font-family: inherit;
    font-size: 14px;
    padding: 16px;
    margin-left: 10px;
    border: none;
    text-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px;
    background: linear-gradient(rgb(45, 160, 250), rgb(49, 88, 238))
      rgb(47, 124, 244);
      cursor: pointer;
      border-radius: 4px;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 3px;
    flex-direction: column;
    outline: none;
    align-items: stretch;
    position: relative;
  }

  &__text-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    outline: none;
    position: relative;
    font-size: 14px;
    width: 100%;

    &:focus {
      box-shadow: rgba(59, 69, 79, 0.3) 0px 2px 4px;
      border: 1px solid $linkColor;
    }
  }
}

.results-container {
  padding: 0;
  list-style: none;
}

.result {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }

  &__body {
    line-height: 1.5;
    margin-top: 0;
    display: flex;

    
  }
}